<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frameFace.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,357},{49,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,50}</string>
			</dict>
			<key>input.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,428},{384,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{384,61}</string>
			</dict>
			<key>insurepass1.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,417},{182,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,73}</string>
			</dict>
			<key>insurepass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,599},{182,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,73}</string>
			</dict>
			<key>logon1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{285,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,109}</string>
			</dict>
			<key>logon2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{285,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,109}</string>
			</dict>
			<key>logonpass1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,781},{182,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,73}</string>
			</dict>
			<key>logonpass2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,417},{182,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{182,73}</string>
			</dict>
			<key>name.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,0},{244,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{244,43}</string>
			</dict>
			<key>open.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,965},{128,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,46}</string>
			</dict>
			<key>queding1.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,599},{169,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,72}</string>
			</dict>
			<key>queding2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,768},{169,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,72}</string>
			</dict>
			<key>register1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{285,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{285,109}</string>
			</dict>
			<key>register2.png</key>
			<dict>
				<key>frame</key>
				<string>{{855,0},{285,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{285,109}</string>
			</dict>
			<key>score.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,244},{184,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,34}</string>
			</dict>
			<key>setUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{132,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,153}</string>
			</dict>
			<key>switchAccount2.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,937},{167,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{167,64}</string>
			</dict>
			<key>switchAccoun1.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,599},{167,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,64}</string>
			</dict>
			<key>ui_bk_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,0},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>service.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,109},{132,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,153}</string>
			</dict>
			<key>face.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,428},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>donate.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,109},{132,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,153}</string>
			</dict>
			<key>coinAdd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,357},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>coinAdd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,357},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>fou1.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,285},{170,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,72}</string>
			</dict>
			<key>fou2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,109},{170,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,72}</string>
			</dict>
			<key>ServiceTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,965},{95,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,57}</string>
			</dict>
			<key>bank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,812},{132,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,153}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>frame.png</string>
			<key>realTextureFileName</key>
			<string>frame.png</string>
			<key>size</key>
			<string>{1023,1022}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1023</integer>
			<key>height</key>
			<integer>1022</integer>
		</dict>
	</dict>
</plist>